
<p class='corp'>
		<%= f.label :tax_id_number %>
		<%= f.text_field :taxid %>
	</p>
	
	<p class='corp'>
		<%= f.label :company_name %>
		<%= f.text_field :companyname %>
	</p>
	<p class='corp'>
		<%= f.label :address %>
		<%= f.text_field :address %>
		</p>

	<p class='corp'>
		<%= f.label :owner %>
		<%= f.text_field :owner %>
</p>
		<p class='contact'><%= submit_tag 'submit', class: 'email_submit', data: {disable_with: "Submitting..."} %></p> -->
