
<p>
	<%= form_for home_contact_path, remote: true, :authenticity_token => true do |f| %> 

<p class="contact">
<%= f.label  :name, "name" %>
<%= f.text_field :name, placeholder:"Name" %>
</p>
<p class="contact">
<%= f.label :email, "Email" %>
<%= f.email_field :email, placeholder:"Email" %>
</p>
<p class="contact">
<%= f.label :comments, "Comments" %>
<%= f.text_area :comments,  placeholder:"Comments/Request" %>
</p>
<p class="contact">
<%= f.label :phone, "Phone" %>
<%= f.text_field :phone,  placeholder:"Phone" %>
</p>

	<p class='contact'><%= f.submit 'submit post', class: 'post_submit', data: {disable_with: "Submitting..."} %></p>
<% end %>
</p>