<%= form_for home_new_path, html: { multipart: true } do |f| %> 
<p>
		<%= f.label  :fname, "NAME" %>
		<%= f.text_field :full_name, placeholder: "Your Name" %>
		<%= f.label  :bname, "Type of beer" %>
		<%= f.text_field :beer_name, placeholder: "Type of beer" %>
</p>
<p>
		<%= f.label :avatar, "Beer Pic" %><br>
		<%= f.file_field :avatar %>
<p>
		<%= f.label :email, "Email"  %>
		<%= f.email_field :email, placeholder:"Email", required: true %>
</p>
<p>
		<%= f.submit %>
</p>
  <% end %>