<h1><u>FAQ</u></h1>
<section>
<div class="faq">
	<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden"><h3>What are your store's hours?</h3></a>
	  <div id="js-expander-content" class="expander-content">
	<p class="faqstyle"> We are open 7 days a week!
     	<ol>
     		<li> Monday thru Friday 10am - 9pm</li>
     		<li> Saturday  10am - 9pm</li>
     		<li> Sunday  11am - 6pm </li>
     	</ol>
     </p>
     </div>
     </div>
</div>
<div class="faq">
	<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-1" class="expander-trigger expander-hidden"><h3>What is your store's redemption policy?</h3></a>
	  <div id="js-expander-content-1" class="expander-content">
		<p class="faqstyle"> It seemes these days everybody wants to do right environmentally. VSBC does its part by proudly recylcing bottles and cans.

		You pay a bottle or can deposit when you buy soda, beer, and water. When you bring us your empties, you not only are putting that money back in your own pocket, but you're doing your part for the earth. We will glady take back any empty beverage's we sell.  We take back empties anyday during our business hours EXCEPT Sunday!  See ya soon! 
		</p>
		</div>
		</div>
</div>
<div class="faq">
<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-2" class="expander-trigger expander-hidden"><h3>Do you make home delivery's?</h3></a>
	  <div id="js-expander-content-2" class="expander-content">
	<p class="faqstyle"> Please contact us at <b>516-285-5800</b> or place an order <!-- online <%= link_to 'order', home_order_path %> --> and we will get
	back to you ASAP.  Typically we will deliver same day if the order is over a 100$ and within 10 miles of our location. Feel free to check our low prices <a <a target="_blank" href="https://www.beermenus.com/places/5375-valley-stream-discount-beverage-center">price list</a>
	</p>
	</div>
	</div>
</div>
<div class="faq">
<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-3" class="expander-trigger expander-hidden"><h3>Do you sell kegs?</h3></a>
	  <div id="js-expander-content-3" class="expander-content">
	<p class="faqstyle">Absolutely!  Please give us 24 hour notice!  There is also a 50$ deposit required as well for tap/keg and bucket. <%= link_to 'keg pricing', home_keg_path %>

	</p>
	</div>
	</div>
</div>
<div class="faq">
<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-4" class="expander-trigger expander-hidden"><h3>Do you sell liquor?</h3></a>
	  <div id="js-expander-content-4" class="expander-content">
	<p class="faqstyle">New York state law doesn't allow for Beer and Liquor to be sold in same establishment! Sorry!
	</p>
	</div>
	</div>
</div>
<div class="faq">
<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-5" class="expander-trigger expander-hidden"><h3>Can I request a beer you don't stock?</h3></a>
	  <div id="js-expander-content-5" class="expander-content">
	<p class="faqstyle">Yes. Special orders are no problem at all. If you know of a hard-to-find beverage that even we don't have, we can probably get it for you. Please don't hesitate to contact us <%= link_to 'request' , new_request_path %>
		</p>
		</div>
		</div>
</div>
<div class="faq">
<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-6" class="expander-trigger expander-hidden"><h3>How can I open a wholesale account?</h3></a>
	  <div id="js-expander-content-6" class="expander-content">
<p class="faqstyle"> Our class "C" license gives us the unique privledge to offer low pricing on both wholesale and retail customers.  Opening a wholesale account doesn't take a long time we would require a few pieces of information as well as your tax id #.  If interested please fill out this brief <%= link_to 'Application' , new_corporate_path %></p>
		</div>
		</div>
</div>
<div class="faq">
<div class="expander">
	  <a href="javascript:void(0)" id="js-expander-trigger-7" class="expander-trigger expander-hidden"><h3>Do you guys carry seasonal beers?</h3></a>
	  <div id="js-expander-content-7" class="expander-content">
	<p class="faqstyle">We've got 'em! Whether it's a summer ale or a winter holiday lager, VSBC is the place to find those seasonal brews. <a target="_blank" href="https://www.beermenus.com/places/5375-valley-stream-discount-beverage-center">current stock</a> or if not listed feel free to make a <%= link_to 'request', new_request_path %>
	</p>
	</div>
	</div>
</div>
<div class="faq"><h3></h3><p></p></div>
</section>

  
